<a href="https://colab.research.google.com/github/thrilokya1202/machine_learning/blob/main/Candidate_Elimination.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/data.csv")

In [ ]:
df

     sky airtemp humidity    wind water forecast enjoysport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  cool   change        yes

In [ ]:
s=['phi' for i in range(len(df.columns)-1)] #specific hypothesis
g=[] #general hypothesis

In [ ]:
def accept(df,r):
  for i in range(len(df)):
    if df.iloc[i,-1]=='yes':
      for j in range(len(r)):
        if df.iloc[i,j]==r[j] or r[j]=='?':
          continue
        else:
          return 0
    else:
      flag=0
      for j in range(len(r)):
        if df.iloc[i,j]!=r[j]:
          flag=1
          break
      if flag==0:
        return 0
  return 1

In [ ]:
for i in range(len(df)):
  if df.iloc[i,-1]=='yes':
    for j in range(len(s)):
      if df.iloc[i,j]==s[j]:
        continue
      else:
        if s[j]=='phi':
          s[j]=df.iloc[i,j]
        else:
          s[j]='?'
  else:
    for j in range(len(df.columns)-1):
      m=list(df.iloc[:,j].unique())
      m.remove(df.iloc[i,j])
      for k in m:
        r=['?' for d in range(len(df.columns)-1)]
        r[j]=k
        if accept(df,r):
          g.append(r)

In [ ]:
print("Specific hypothesis:",s)
print("General hypothesis:",g)

Specific hypothesis: ['sunny', 'warm', '?', 'strong', '?', '?']
General hypothesis: [['sunny', '?', '?', '?', '?', '?'], ['?', 'warm', '?', '?', '?', '?']]

In [ ]:
h=set()
h.add(tuple(s))
for i in range(len(g)):
  h.add(tuple(g[i]))
for i in range(len(g)):
  for j in range(len(df.columns)-1):
    if s[j]!=g[i][j]:
      l=s[:j+1]
      l=l+g[i][j+1:]
      h.add(tuple(l))
      l=g[i][:j+1]
      l=l+s[j+1:]
      h.add(tuple(l))
      break

In [ ]:
print("Final hypothesis:",h)

Final hypothesis: {('?', 'warm', '?', 'strong', '?', '?'), ('sunny', 'warm', '?', 'strong', '?', '?'), ('?', 'warm', '?', '?', '?', '?'), ('sunny', 'warm', '?', '?', '?', '?'), ('sunny', '?', '?', 'strong', '?', '?'), ('sunny', '?', '?', '?', '?', '?')}