In [1]:
import pandas as pd

In [4]:
data=pd.read_csv("Z:/data.csv")

In [5]:
data

     sky airtemp humidity    wind water forecast enjoysport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
2  rainy    cold     high  strong  warm   change         no
3  sunny    warm     high  strong  warm   change        yes

In [28]:
h=['phi' for i in range(len(data.columns)-1)]

In [29]:
data=data[data['enjoysport']=='yes']
data

     sky airtemp humidity    wind water forecast enjoysport
0  sunny    warm   normal  strong  warm     same        yes
1  sunny    warm     high  strong  warm     same        yes
3  sunny    warm     high  strong  warm   change        yes

In [30]:
for i in range(len(data)):
    for j in range(len(data.columns)-1):
        if data.iloc[i,j]==h[j]:
            continue
        else:
            if h[j]=='phi':
                h[j]=data.iloc[i,j]
            else:
                h[j]='?'

In [31]:
print("final hypothesis:",h)

final hypothesis: ['sunny', 'warm', '?', 'strong', 'warm', '?']